{
  "BOTAPIAUTH": "",
  "BOTAPIURL": "",
  "CHAIN_ID": "",
  "CONTRACT_ADDRESS": "",
  "DEBUG": "true",
  "KEY_CONTEXT": "",
  "LAMBDA_FUNCTION": "",
  "LAMBDA_KEY": "",
  "MY_AWS_ACCESS_KEY_ID": "",
  "MY_AWS_REGION": "",
  "MY_AWS_SECRET_ACCESS_KEY": "",
  "NETLIFY_RESERVED__BRANCH": "",
  "NODE_OPTIONS": "",
  "REACT_APP_ALGOLIA_KEY": "",
  "REACT_APP_ALGOLIA_PROJECT": "",
  "REACT_APP_CHAIN_ID": "",
  "REACT_APP_CONTRACT_ADDRESS": "",
  "REACT_APP_DEBUG": "",
  "REACT_APP_FORWARDER_ADDRESS": "",
  "REACT_APP_MINT_KEY": "",
  "REACT_APP_NETWORK_EXPLORER": "",
  "REACT_APP_NETWORK_HEXCHAIN_ID": "",
  "REACT_APP_NETWORK_NAME": "",
  "REACT_APP_NETWORK_TOKEN": "",
  "REACT_APP_RPCURL_METAMASK": "",
  "REACT_APP_VIRTUOSO_BRANCH": "",
  "REACT_APP_VIRTUOSO_URL": "",
  "RPC_URL": "",
  "STRIPE_ENDPOINT_SECRET": "",
  "STRIPE_KEY": "",
  "WINSTON_ID": "",
  "WINSTON_KEY": "",
  "WINSTON_NAME": "",
  "WINSTON_REGION": ""
}
